<div class="iacaV8">
    <ul class="Pd7evM">
        <li
            class="slide"
            *ngFor="let item of slides; let i = index"
            [ngClass]="{ 'active': i === activeIndex, 'inactive': i !== activeIndex }"
            [style.background-image]="i === activeIndex ? 'url(' + item.bg + ')' : ''"
        >
            <a [href]="item.link"></a>
            <button
                type="button"
                *ngIf="i !== activeIndex"
                [style.background-image]="'url(' + item.thumb + ')'"
                (click)="setActive(i)"
            ></button>
        </li>
    </ul>
</div>