<div class="iacaV8">
    <ul class="Pd7evM">
        
        <!-- 1 -->
        <li class="slide" style="background-image: url('https://slider.eneba.games/resized/JuHYbgG8_W2gpaTA4xS6Uxn7MzS11vQL0nWdwt5i4Os_1500x400_1x-1500x400_150_0.jpg');">
            <a href="/latam/promo/doom?itm_source=eneba&itm_medium=banner&itm_campaign=Doom_games">
                <!-- <span></span> posible pista -->
            </a>
            <button type="button" style="background-image: url(&quot;https://slider.eneba.games/resized/JuHYbgG8_W2gpaTA4xS6Uxn7MzS11vQL0nWdwt5i4Os_200x400_1x-200x400_1800_0.jpg&quot;);"></button>
        </li>

        <!-- 2 -->
        <li class="slide" style="background-image: url(&quot;https://slider.eneba.games/resized/VXZN9bus_OQXBgu3kElsDqx3QPVOCa0SRz50239POhM_1500x400_1x-1500x400_150_0.jpg&quot;);">
            <a href="/latam/store/games?page=1&types%5B%5D=game&types%5B%5D=dlc&itm_source=eneba&itm_medium=banner&itm_campaign=cashback_on_games_dlc">
                <!-- <span></span> -->
            </a>
            <button type="button" style="background-image: url(&quot;https://slider.eneba.games/resized/VXZN9bus_OQXBgu3kElsDqx3QPVOCa0SRz50239POhM_200x400_1x-200x400_1800_0.jpg&quot;);"></button>
        </li>

        <!-- 3 -->
        <li class="slide" style="background-image: url(&quot;https://slider.eneba.games/resized/Bf3VBT2m5fv6hhLgCYgxurTqVTgOR9eXFN5jygiRE1k_1500x400_1x-1500x400_150_0.jpg&quot;);">
            <a href="/latam/promo/windows-keys?itm_source=eneba&itm_medium=banner&itm_campaign=windows">
                <!-- <span></span> -->
            </a>
            <button type="button" (click)="increaseCounter()" style="background-image:url(https://slider.eneba.games/resized/Bf3VBT2m5fv6hhLgCYgxurTqVTgOR9eXFN5jygiRE1k_200x400_1x-200x400_1800_0.jpg)"></button>
        </li>

        <!-- 4 -->
        <li class="slide" style="background-image: url(&quot;https://slider.eneba.games/resized/JXkjjbOFRnOc9Rad1ImCCwozYqKS8DkJWPuJ9KfRn7Y_1500x400_1x-1500x400_150_0.jpg&quot;);">
            <a href="/latam/promo/racing-games?itm_source=eneba&itm_medium=banner&itm_campaign=racing_games">
                <!-- <span></span> -->
            </a>
            <button type="button" (click)="increaseCounter()" style="background-image:url(https://slider.eneba.games/resized/JXkjjbOFRnOc9Rad1ImCCwozYqKS8DkJWPuJ9KfRn7Y_200x400_1x-200x400_1800_0.jpg)"></button>
        </li>
    </ul>
</div>