<!-- <header class="header-aux">
    <nav class="navbar">
      <ul class="nav-links">
          <li>
            <button>
              <i class="fa-solid fa-bars"></i>
            </button>
          </li>
          <li><a href="#">Inicio</a></li>
          <li><a href="#">Acerca de</a></li>
          <li><a href="#">Servicios</a></li>
          <li><a href="#">Contacto</a></li>
      </ul>
  </nav>
</header> -->

<header class="h2DMqW">

    <!--Barra de busqueda-->
    <!-- <div></div> -->

    <!--Desconocido de momento-->
    <!-- <button></button> -->

    <!--Barra de navegacion con categorias ( posiblemente tenga relacion con el sidebar (barra lateral) en el futuro)-->
    <div class="BEd3lu">
        <nav class="JjgYZ4">
            <ul class="osK4dT d3kAJw P8rtGW l0hbuc">
                <li class="MPoNoS d3kAJw wntHyQ">
                    <a class="CXBJWf d3kAJw wntHyQ fmzLYJ" href="/latam/store/all">
                        <svg viewBox="0 0 24 24" height="24" width="24" xmlns="http://www.w3.org/2000/svg" stroke-width="1.5" class="KcSglD" style="max-width:24px;min-width:24px;height:auto">
                            <path d="M2.25 18.003L21.75 18.003" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M2.25 12.003L21.75 12.003" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                            <path d="M2.25 6.003L21.75 6.003" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                        <span>Categorías</span>
                    </a>
                </li>

                <li class="MPoNoS d3kAJw">
                    <a class="CXBJWf d3kAJw fmzLYJ" href="/latam/promo/cheap-games?itm_source=eneba&amp;itm_medium=navigation&amp;itm_campaign=cheap_games">
                        <span>Juegos baratos</span>
                    </a>
                </li>

                <li class="MPoNoS d3kAJw">
                    <a class="CXBJWf d3kAJw fmzLYJ" href="/latam/promo/windows-keys?itm_source=eneba&amp;itm_medium=navigation&amp;itm_campaign=windows">
                        <span>Código de Windows</span>
                    </a>
                </li>

                <li class="MPoNoS d3kAJw">
                    <a class="CXBJWf d3kAJw fmzLYJ" href="/latam/promo/elden-ring-nightreign?itm_source=eneba&amp;itm_medium=navigation&amp;itm_campaign=Nightreign">
                        <span>Nightreign</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</header>