

<div id="app">

<!-- Ojo: arriba del Navbar debe ir una barra de busqueda con algunos iconos como el carrito de compras -->

<!-- Navbar -->
<app-navbar></app-navbar>

<main>
    <!-- div principal -->
    <div>
        <!-- <h1>Hola</h1> -->

        <!-- div de imagenes -->
        <app-advertisement-banner></app-advertisement-banner>

        <!-- div de targetas de categorias para consolas PSN, XBOX o Steam, etc. -->
         <div></div>

         <!-- div de secciones como recientes visto recientemente, Lo recomendado, etc. -->
        <div></div>
    </div>
</main>

</div>