
<footer class="xCd0YY">
    
    <div class="hxkTkl">
        <ul>
            <!-- Recuerda reemplazar estos enlaces por las imagenes descargadas -->
            <li><img src="https://assets.eneba.games/payments/v1/color/wallet.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/nuvei_google_pay.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/nuvei_apple_pay.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/braintree_paypal.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/ebanx_oxxopay_voucher.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/ebanx_oxxo_voucher.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/dlocal_bbva_bancomer.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/dlocal_banorte.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/dlocal_santander.svg" alt="" loading="lazy"></li>
            <li><img src="https://assets.eneba.games/payments/v1/color/nuvei_crypto.svg" alt="" loading="lazy"></li>
        </ul>
    </div>

    <div>
    </div>
</footer>