
<div id="catalog">

    <!-- Navbar -->
    <app-navbar></app-navbar>

    <main>
        <div class="dMZWSu QGxW_F">

            <div class="dYxtMC"> <h1>Catalogo con todos nuestros juegos</h1> </div>

            <div class="Gn2rwQ">
                <aside>
                    <form action="">

                        <div class="IOlsow">Ordenar y filtrar
                            <button class="Jli14P" aria-label="Cerrar" type="button">
                                <span>
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" viewBox="0 0 14 14" class="" style="max-width: 14px; min-width: 14px; height: auto;">
                                        <path fill="currentColor" fill-rule="evenodd" d="M14 1.67L12.59.31 7 5.69 1.41.31 0 1.67l5.59 5.37L0 12.42l1.41 1.36L7 8.4l5.59 5.38L14 12.42 8.41 7.04z"></path>
                                    </svg>
                                </span>
                            </button>
                        </div>

                        <div class="cE2dbi">

                            <div class="yIXmPO">
                                <button type="button" class="oqZvN7">Ordenar elementos
                                    <span class="chevron chevronUp"></span>
                                </button>
                                <ul class="ukl1vp">
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_PRICE_ASC" class="ecsWsP">
                                                <input type="radio" id="sort_PRICE_ASC" name="sort_PRICE_ASC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Precio: del más bajo al más alto</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_PRICE_DESC" class="ecsWsP">
                                                <input type="radio" id="sort_PRICE_DESC" name="sort_PRICE_DESC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Precio: del más alto al más bajo</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_DATE_DESC" class="ecsWsP">
                                                <input type="radio" id="sort_DATE_DESC" name="sort_DATE_DESC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Fecha: más reciente</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_DATE_ASC" class="ecsWsP">
                                                <input type="radio" id="sort_DATE_ASC" name="sort_DATE_ASC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Fecha: El más antiguo primero</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_POPULARITY_DESC" class="ecsWsP">
                                                <input type="radio" id="sort_POPULARITY_DESC" name="sort_POPULARITY_DESC" class="oe7vvS" checked="">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Popularidad: los más populares</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_ALPHABETICALLY_ASC" class="ecsWsP">
                                                <input type="radio" id="sort_ALPHABETICALLY_ASC" name="sort_ALPHABETICALLY_ASC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Alfabeto: A-Z</span></span>
                                            </label>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="Xqa88t HOBlIU">
                                            <label for="sort_ALPHABETICALLY_DESC" class="ecsWsP">
                                                <input type="radio" id="sort_ALPHABETICALLY_DESC" name="sort_ALPHABETICALLY_DESC" class="oe7vvS">
                                                <span class="Wf5291"></span>
                                                <span class="AVVq80"><span class="kEim2k">Alfabeto: Z-A</span></span>
                                            </label>
                                        </div>
                                    </li>
                                </ul>
                            </div>

                            <div class="_4Q0wgP CJsn8C">
                                <button type="button" class="Lj4up4 CJsn8C">
                                    <span>Precio (MXN)</span>
                                    <span class="chevron"></span>
                                </button>
                                <div class="nHIZ0z CJsn8C" style="max-height: 0px;">
                                    <input class="inputForm" type="text" inputmode="decimal" aria-label="Precio - Valor mínimo" value="">
                                    <strong class="TtwkD6">-</strong>
                                    <input class="inputForm" type="text" inputmode="decimal" aria-label="Precio - Valor máximo" value="">
                                </div>
                            </div>

                            <div class="_4Q0wgP CJsn8C">
                                <button type="button" class="Lj4up4 CJsn8C">
                                    <span>País</span>
                                    <span class="chevron"></span>
                                </button>
                                <div class="tim1L5 CJsn8C">
                                    <div class="ENtaXt">
                                        <div class="react-select-container W0okKf css-b62m3t-container">
                                            <span id="react-select-2-live-region" class="css-7pg0cj-a11yText"></span>
                                            <span aria-live="polite" aria-atomic="false" aria-relevant="additions text" class="css-7pg0cj-a11yText"></span>
                                            <div class="react-select__control css-13cymwt-control">
                                                <div class="react-select__value-container react-select__value-container--has-value css-hlgwow">
                                                    <div class="react-select__single-value css-1dimb5e-singleValue">Todos los países</div>
                                                    <div class="react-select__input-container css-19bb58m" data-value="">
                                                        <input class="react-select__input" autocapitalize="none" autocomplete="off" autocorrect="off" id="react-select-2-input" spellcheck="false" tabindex="0" type="text" aria-autocomplete="list" aria-expanded="false" aria-haspopup="true" aria-label="País" role="combobox" value="" style="color: inherit; background: 0px center; opacity: 1; width: 100%; grid-area: 1 / 2; font: inherit; min-width: 2px; border: 0px; margin: 0px; outline: 0px; padding: 0px;">
                                                    </div>
                                                </div>
                                                <div class="react-select__indicators css-1wy0on6">
                                                    <span class="react-select__indicator-separator css-1u9des2-indicatorSeparator"></span>
                                                    <div class="react-select__indicator react-select__dropdown-indicator css-1xc3v61-indicatorContainer" aria-hidden="true">
                                                        <svg height="20" width="20" viewBox="0 0 20 20" aria-hidden="true" focusable="false" class="css-8mmkcg">
                                                            <path d="M4.516 7.548c0.436-0.446 1.043-0.481 1.576 0l3.908 3.747 3.908-3.747c0.533-0.481 1.141-0.446 1.574 0 0.436 0.445 0.408 1.197 0 1.615-0.406 0.418-4.695 4.502-4.695 4.502-0.217 0.223-0.502 0.335-0.787 0.335s-0.57-0.112-0.789-0.335c0 0-4.287-4.084-4.695-4.502s-0.436-1.17 0-1.615z"></path>
                                                        </svg>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="_4Q0wgP CJsn8C">
                                <button type="button" class="Lj4up4 CJsn8C">
                                    <span>Tipo de producto</span>
                                    <span class="chevron"></span>
                                </button>
                                <div class="JJzZst CJsn8C">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="max-width: 18px; min-width: 18px; height: auto;">
                                        <g clip-path="url(#svg-a569c57c2371d97aff5702b1d52a7c91__a)">
                                            <path d="M17 17L22.7499 22.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.25C1 12.7033 1.97455 15.056 3.70926 16.7907C5.44397 18.5254 7.79675 19.5 10.25 19.5C12.7033 19.5 15.056 18.5254 16.7907 16.7907C18.5254 15.056 19.5 12.7033 19.5 10.25C19.5 7.79675 18.5254 5.44397 16.7907 3.70926C15.056 1.97455 12.7033 1 10.25 1C7.79675 1 5.44397 1.97455 3.70926 3.70926C1.97455 5.44397 1 7.79675 1 10.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="svg-a569c57c2371d97aff5702b1d52a7c91__a"><rect width="24" height="24" fill="white"></rect></clipPath>
                                        </defs>
                                    </svg>
                                    <input type="text" class="inputForm" aria-label="Opciones de filtro de búsqueda - Tipo de producto">
                                </div>
                                <div class="o_UVCj CJsn8C">
                                    <ul class="i_RtM_">
                                        <li>
                                            <label for="types_game_default" class="radioLabel nHaaPa">
                                                <span><input type="checkbox" id="types_game_default" aria-label="Juego"><span class="checkbox qQtylJ"></span></span>
                                                <span>Juego</span>
                                                <span class="n1DQi7">65222</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_dlc_default" class="radioLabel nHaaPa">
                                                <span><input type="checkbox" id="types_dlc_default" aria-label="DLC"><span class="checkbox qQtylJ"></span></span>
                                                <span>DLC</span>
                                                <span class="n1DQi7">16289</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_top_up_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_top_up_default" aria-label="eTarjetas">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>eTarjetas</span>
                                                <span class="n1DQi7">15985</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_giftcard_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_giftcard_default" aria-label="Tarjetas de regalo (juegos)">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Tarjetas de regalo (juegos)</span>
                                                <span class="n1DQi7">2821</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_game_points_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_game_points_default" aria-label="Monedas de juegos">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Monedas de juegos</span>
                                                <span class="n1DQi7">2583</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_emoney_prepaid_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_emoney_prepaid_default" aria-label="Prepago digital">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Prepago digital</span>
                                                <span class="n1DQi7">2496</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_software_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_software_default" aria-label="Software">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Software</span>
                                                <span class="n1DQi7">1530</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="types_subscription_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="types_subscription_default" aria-label="Suscripción">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Suscripción</span>
                                                <span class="n1DQi7">1247</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="link d3J4rw CJsn8C" aria-label="Mostrar todo">2 más
                                    <span class="chevron"></span>
                                </button>
                            </div>

                            <div class="_4Q0wgP">
                                <button type="button" class="Lj4up4">
                                    <span>Sistema operativo</span><span class="chevron chevronUp"></span>
                                </button>
                                <div class="o_UVCj">
                                    <ul class="i_RtM_">
                                        <li>
                                            <label for="os_windows_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="os_windows_default" aria-label="Windows">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Windows</span>
                                                <span class="n1DQi7">40100</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="os_mac_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="os_mac_default" aria-label="Mac">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Mac</span>
                                                <span class="n1DQi7">10341</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="os_linux_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="os_linux_default" aria-label="Linux">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Linux</span>
                                                <span class="n1DQi7">6991</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="os_android_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="os_android_default" aria-label="Android">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Android</span>
                                                <span class="n1DQi7">81</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="os_ios_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="os_ios_default" aria-label="iOS">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>iOS</span>
                                                <span class="n1DQi7">81</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="_4Q0wgP">
                                <button type="button" class="Lj4up4">
                                    <span>Plataformas</span>
                                    <span class="chevron chevronUp"></span>
                                </button>
                                <div class="JJzZst">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="max-width: 18px; min-width: 18px; height: auto;">
                                        <g clip-path="url(#svg-a569c57c2371d97aff5702b1d52a7c91__a)">
                                            <path d="M17 17L22.7499 22.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.25C1 12.7033 1.97455 15.056 3.70926 16.7907C5.44397 18.5254 7.79675 19.5 10.25 19.5C12.7033 19.5 15.056 18.5254 16.7907 16.7907C18.5254 15.056 19.5 12.7033 19.5 10.25C19.5 7.79675 18.5254 5.44397 16.7907 3.70926C15.056 1.97455 12.7033 1 10.25 1C7.79675 1 5.44397 1.97455 3.70926 3.70926C1.97455 5.44397 1 7.79675 1 10.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="svg-a569c57c2371d97aff5702b1d52a7c91__a"><rect width="24" height="24" fill="white"></rect></clipPath>
                                        </defs>
                                    </svg>
                                    <input type="text" class="inputForm" aria-label="Opciones de filtro de búsqueda - Plataformas">
                                </div>
                                <div class="o_UVCj">
                                    <ul class="i_RtM_">
                                        <li>
                                            <label for="drms_steam_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_steam_default" aria-label="Steam">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Steam</span>
                                                <span class="n1DQi7">42227</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_xbox_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_xbox_default" aria-label="Xbox Live">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Xbox Live</span>
                                                <span class="n1DQi7">32662</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_psn_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_psn_default" aria-label="PSN">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>PSN</span>
                                                <span class="n1DQi7">2907</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_nintendo_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_nintendo_default" aria-label="Nintendo">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Nintendo</span>
                                                <span class="n1DQi7">1864</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_apple_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_apple_default" aria-label="Apple">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Apple</span>
                                                <span class="n1DQi7">1306</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_uplay_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_uplay_default" aria-label="Ubisoft Connect">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Ubisoft Connect</span>
                                                <span class="n1DQi7">1067</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_steam gift card_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_steam gift card_default" aria-label="Steam Gift Card">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Steam Gift Card</span>
                                                <span class="n1DQi7">958</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="drms_origin_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="drms_origin_default" aria-label="Origin">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Origin</span>
                                                <span class="n1DQi7">935</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="link d3J4rw" aria-label="Mostrar todo">92 más
                                    <span class="chevron"></span>
                                </button>
                            </div>

                            <div class="_4Q0wgP">
                                <button type="button" class="Lj4up4">
                                    <span>Géneros</span>
                                    <span class="chevron chevronUp"></span>
                                </button>
                                <div class="JJzZst">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="max-width: 18px; min-width: 18px; height: auto;">
                                        <g clip-path="url(#svg-a569c57c2371d97aff5702b1d52a7c91__a)">
                                            <path d="M17 17L22.7499 22.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.25C1 12.7033 1.97455 15.056 3.70926 16.7907C5.44397 18.5254 7.79675 19.5 10.25 19.5C12.7033 19.5 15.056 18.5254 16.7907 16.7907C18.5254 15.056 19.5 12.7033 19.5 10.25C19.5 7.79675 18.5254 5.44397 16.7907 3.70926C15.056 1.97455 12.7033 1 10.25 1C7.79675 1 5.44397 1.97455 3.70926 3.70926C1.97455 5.44397 1 7.79675 1 10.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="svg-a569c57c2371d97aff5702b1d52a7c91__a">
                                                <rect width="24" height="24" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <input type="text" class="inputForm" aria-label="Opciones de filtro de búsqueda - Géneros">
                                </div>
                                <div class="o_UVCj">
                                    <ul class="i_RtM_">
                                        <li>
                                            <label for="genres_single-player-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_single-player-games_default" aria-label="Un solo jugador">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Un solo jugador</span>
                                                <span class="n1DQi7">48058</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_action-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_action-games_default" aria-label="Acción">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Acción</span>
                                                <span class="n1DQi7">40271</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_adventure-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_adventure-games_default" aria-label="Aventuras">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Aventuras</span>
                                                <span class="n1DQi7">30606</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_multiplayer-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_multiplayer-games_default" aria-label="Multijugador">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Multijugador</span>
                                                <span class="n1DQi7">22089</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_indie-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_indie-games_default" aria-label="Indie">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Indie</span>
                                                <span class="n1DQi7">21010</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_third-person-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_third-person-games_default" aria-label="Tercera Persona">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Tercera Persona</span>
                                                <span class="n1DQi7">16204</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_simulation-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_simulation-games_default" aria-label="Simulación">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Simulación</span>
                                                <span class="n1DQi7">13833</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="genres_rpg-games_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="genres_rpg-games_default" aria-label="RPG">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>RPG</span>
                                                <span class="n1DQi7">13703</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="link d3J4rw" aria-label="Mostrar todo">24 más
                                    <span class="chevron"></span>
                                </button>
                            </div>
                            
                            <div class="_4Q0wgP">
                                <button type="button" class="Lj4up4">
                                    <span>Zona</span>
                                    <span class="chevron chevronUp"></span>
                                </button>
                                <div class="JJzZst">
                                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="" style="max-width: 18px; min-width: 18px; height: auto;">
                                        <g clip-path="url(#svg-a569c57c2371d97aff5702b1d52a7c91__a)">
                                            <path d="M17 17L22.7499 22.75" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                            <path d="M1 10.25C1 12.7033 1.97455 15.056 3.70926 16.7907C5.44397 18.5254 7.79675 19.5 10.25 19.5C12.7033 19.5 15.056 18.5254 16.7907 16.7907C18.5254 15.056 19.5 12.7033 19.5 10.25C19.5 7.79675 18.5254 5.44397 16.7907 3.70926C15.056 1.97455 12.7033 1 10.25 1C7.79675 1 5.44397 1.97455 3.70926 3.70926C1.97455 5.44397 1 7.79675 1 10.25Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </g>
                                        <defs>
                                            <clipPath id="svg-a569c57c2371d97aff5702b1d52a7c91__a">
                                                <rect width="24" height="24" fill="white"></rect>
                                            </clipPath>
                                        </defs>
                                    </svg>
                                    <input type="text" class="inputForm" aria-label="Opciones de filtro de búsqueda - Zona">
                                </div>
                                <div class="o_UVCj">
                                    <ul class="i_RtM_">
                                        <li>
                                            <label for="regions_global_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_global_default" aria-label="Global">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Global</span>
                                                <span class="n1DQi7">36652</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_europe_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_europe_default" aria-label="Europa">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Europa</span>
                                                <span class="n1DQi7">20354</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_united_states_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_united_states_default" aria-label="Estados Unidos">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Estados Unidos</span>
                                                <span class="n1DQi7">11025</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_argentina_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_argentina_default" aria-label="Argentina">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Argentina</span>
                                                <span class="n1DQi7">8549</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_turkey_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_turkey_default" aria-label="Turquía">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Turquía</span>
                                                <span class="n1DQi7">4171</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_united_kingdom_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_united_kingdom_default" aria-label="Reino Unido">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Reino Unido</span>
                                                <span class="n1DQi7">3000</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_latam_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_latam_default" aria-label="Latinoamérica">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Latinoamérica</span>
                                                <span class="n1DQi7">2737</span>
                                            </label>
                                        </li>
                                        <li>
                                            <label for="regions_canada_default" class="radioLabel nHaaPa">
                                                <span>
                                                    <input type="checkbox" id="regions_canada_default" aria-label="Canadá">
                                                    <span class="checkbox qQtylJ"></span>
                                                </span>
                                                <span>Canadá</span>
                                                <span class="n1DQi7">1498</span>
                                            </label>
                                        </li>
                                    </ul>
                                </div>
                                <button type="button" class="link d3J4rw" aria-label="Mostrar todo">92 más
                                    <span class="chevron"></span>
                                </button>
                            </div>
                            
                        </div>

                    </form>
                </aside>

                <section></section>
            </div>

        </div>
    </main>

    <!-- footer (pie de pagina) -->
    <app-footer-view></app-footer-view>
</div>
