<div id="catalog">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <main>
        <div class="dYxtMC">
            <h1>Catálogo con todos nuestros juegos</h1>
        </div>

        <div class="container">
            
            <!-- Barra de filtros -->
            <app-filter-sidebar></app-filter-sidebar>

            <!-- Catalogo de productos -->
            <section class="content-area">
                <h1 class="content-title">Catálogo de Productos</h1>
                <p class="content-text">
                    Esta es el área principal donde se mostrarían los productos filtrados.
                    La barra lateral permite ordenar y filtrar los productos por diferentes criterios como precio,
                    tipo de producto, plataforma y género.
                </p>
                <br>
                <p class="content-text">
                    Los filtros son completamente funcionales y se pueden expandir/contraer haciendo clic en cada sección.
                    El diseño es responsive y se adapta a diferentes tamaños de pantalla.
                </p>
            </section>
        </div>
    </main>

    <!-- footer (pie de pagina) -->
    <app-footer-view></app-footer-view>
</div>