<div id="catalog">
    <!-- Navbar -->
    <app-navbar></app-navbar>

    <main>
        <div class="dYxtMC">
            <h1>Catálogo con todos nuestros juegos y mucho más</h1>
        </div>

        <div class="container">
            
            <!-- Barra de filtros -->
            <app-filter-sidebar></app-filter-sidebar>

            <!-- Catalogo de productos -->
            <section class="content-area">


                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
                                <app-card></app-card>
                <app-card></app-card>
                <app-card></app-card>
            </section>
        </div>
    </main>

    <!-- footer (pie de pagina) -->
    <app-footer-view></app-footer-view>
</div>