<div>

    <i class="fa-solid fa-chevron-left">
            <button type="button" class="xoKC1D" aria-label="Mostrar categorías anteriores" disabled=""></button>
    </i>

    <!-- Como solo sera un carro de compras sencillo, es mejor no meter consolas porque tu Base de datos no cuenta con 
     informacion de las consolas de los juegos porque son de steam en su mayoria, entonces en las opciones coloca cosas como
     los generos, accion, disparos, etc. -->
    <nav>
        <a href="">
            <i class="fa-solid fa-fire"></i>
            Reciente
        </a>
        <a href="">
            <i class="fa-solid fa-arrow-up-right-dots"></i>

        </a>
    </nav>

    <i class="fa-solid fa-chevron-right">
        <button type="button" class="xoKC1D" aria-label="Mostrar categorías anteriores" disabled=""></button>
    </i>
</div>