
.DoW3u1>section:nth-child(odd) {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: relative;
    padding-top: 40px;
}

.DoW3u1>section:nth-child(odd):after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: -1;
    background: rgba(0, 0, 0, .3);
    width: 100vw;
}



/*Primer div*/
.ftAQ7w {
    display: flex;
    justify-content: space-between;
}