<div class="DoW3u1">
    <!-- Deberias basarte mejor del 3er section -->
    <section>
        <!-- titulo -->
        <div class="ftAQ7w">
            <div class="title-with-icon">
                <h1 class="hUzwE8 neIoEL">Lo que te recomendamos</h1>
                <span class="j0kE81">
                    <span class="LWVoqN FMySA1">
                        <svg viewBox="0 0 14 14" xmlns="http://www.w3.org/2000/svg">
                            <path fill="currentColor" fill-rule="evenodd" d="M5.69 6.13c0-.25.2-.44.43-.44h.44a.88.88 0 0 1 .88.87v2.19a.44.44 0 0 0 .43.44h.44a.44.44 0 0 1 0 .87h-.44a1.31 1.31 0 0 1-1.3-1.31V6.56h-.45a.44.44 0 0 1-.43-.43ZM6.42 3.61a.66.66 0 1 1 .73 1.1.66.66 0 0 1-.73-1.1Zm.44.75a.22.22 0 1 0-.16-.4.22.22 0 0 0 .16.4Z" clip-rule="evenodd"></path>
                            <path fill="currentColor" fill-rule="evenodd" d="M2.05 2.05a7 7 0 1 1 9.9 9.9 7 7 0 0 1-9.9-9.9ZM7 .88a6.13 6.13 0 1 0 0 12.25A6.13 6.13 0 0 0 7 .87Z" clip-rule="evenodd"></path>
                        </svg>
                    </span>
                </span>
            </div>
        </div>

        <!-- cards -->
        <div class="RMb2Pl">
            <section class="vvAKar">
                <div class="BdZIev">
                    <div class="pFaGHa ocultar t8TnVR ssdbYG">
                        <div class="uy1qit">
                            <!-- imagen de la card -->
                            <div>
                                <a href="" class="GZjXOw" title="Minecraft: Java & Bedrock Edition (PC) Official website Key GLOBAL"></a>
                                <div class="AYvEf0">
                                    <picture>
                                        <source media="(max-width: 600px)" srcset="https://imgproxy.eneba.games/suhoRxpCCbjKfEe3NS9SbUf0hSkAvjV2X_GIKoS7kRc/rs:fit:95/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 1x, https://imgproxy.eneba.games/fwEI2EoE1nm3kQ0MHsD99smPlSAeeZLa_DoiUdjEoRU/rs:fit:190/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 2x">
                                        <source media="(min-width: 601px)" srcset="https://imgproxy.eneba.games/IRglYcwilNc3GguGGpby0x_x0jFgdFvPVR1ngi-BkR0/rs:fit:350/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 1x, https://imgproxy.eneba.games/NAxumYCfQfUoZDK0_uB3TQyhAYElVKZs45DMfaGO2iI/rs:fit:700/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 2x">
                                        <img class="LBwiWP v5wuNi" src="https://imgproxy.eneba.games/IRglYcwilNc3GguGGpby0x_x0jFgdFvPVR1ngi-BkR0/rs:fit:350/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw" srcset="https://imgproxy.eneba.games/IRglYcwilNc3GguGGpby0x_x0jFgdFvPVR1ngi-BkR0/rs:fit:350/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 1x, https://imgproxy.eneba.games/NAxumYCfQfUoZDK0_uB3TQyhAYElVKZs45DMfaGO2iI/rs:fit:700/ar:1/czM6Ly9wcm9kdWN0/cy5lbmViYS5nYW1l/cy9wcm9kdWN0cy9E/YmR4N2loekprNDhi/QVNpX0cwakhFZ3gy/b2JmR1lFX3ROeVdz/anRKNGE0LnBuZw 2x" draggable="false" decoding="async" alt="Minecraft: Java &amp; Bedrock Edition (PC) Official website Key GLOBAL" data-text="Ha habido un problema al mostrar esta imagen." data-text-short="No se pudo cargar la imagen">
                                    </picture>
                                    <!-- imagen de prueba: https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 -->
                                    <!-- <picture>
                                        <source media="(max-width: 600px)" srcset="https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 1x, https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 2x">
                                        <source media="(min-width: 601px)" srcset="https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 1x, https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 2x">
                                        <img class="LBwiWP v5wuNi" src="https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351" srcset="https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 1x, https://steamcdn-a.akamaihd.net/steam/apps/945360/header.jpg?t=1598556351 2x" draggable="false" decoding="async" alt="Minecraft: Java &amp; Bedrock Edition (PC) Official website Key GLOBAL" data-text="Ha habido un problema al mostrar esta imagen." data-text-short="No se pudo cargar la imagen">
                                    </picture> -->
                                </div>
                                <div class="FQu1X9 f02Gqa">
                                    <img src="https://products.eneba.games/drms/v1/windows-store.svg" class="O4be9G" alt="Windows Store">
                                    <span class="uAsjsO">Windows Store</span>
                                </div>
                            </div>
                            <!-- descripcion de la card -->
                            <div>

                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <!-- boton -->
        <div>

        </div>
    </section>

    <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>

        <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>

        <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>
</div>