<div class="DoW3u1">
    <!-- Deberias basarte mejor del 3er section -->
    <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Lo que te recomendamos</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>

    <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>

        <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>

        <section>
        <div class="ftAQ7w">
            <h1 class="hUzwE8 neIoEL">Juegos populares</h1>
        </div>

        <div>

        </div>

        <div>

        </div>
    </section>
</div>