
.DoW3u1>section:nth-child(odd) {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    align-items: flex-start; /* 👈 fuerza que el contenido esté alineado a la izquierda */
    position: relative;
    /* padding-top: 20px; */
}

.DoW3u1 > section:nth-child(odd)::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
    background: rgba(0, 0, 0, 0.3);
    width: 100vw;
}


/*Primer div dentro del section*/
.ftAQ7w {
    display: flex;
    justify-content: space-between;
}

.neIoEL {
    flex: 1;
}

.hUzwE8, .Sio8uZ {
    font-size: 1.7rem;
    padding-top: 20px;
    margin-bottom: 30px;
    display: block;
    width: 100%;
    text-align: left;
}

h1 {
    /* font-size: 2rem; */
    line-height: 1.25;
    margin-top: 10px;
    margin-bottom: 30px;
}

/*Segundo div dentro del section*/


/*Tercer div dentro del section*/

